<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fec.yunmall.mall">
<!--android:name属性——是用来设置所有activity属于哪个application的，默认是android.app.Application。-->
    <application
        android:name="com.fec.yunmall.runAlone.AloneMallApplication"
        android:allowBackup="true"
        android:label="@string/mall_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>